<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">

    <bean id="classicalMusicBean" class="com.alik.springapp.lsn4hwrk.ClassicalMusic">
    </bean>
    <bean id="popMusicBean" class="com.alik.springapp.lsn4hwrk.PopMusic">
    </bean>
    <bean id="rockMusicBean" class="com.alik.springapp.lsn4hwrk.RockMusic">
    </bean>

    <bean id="musicPlayer4hwrk" class="com.alik.springapp.lsn4hwrk.MusicPlayer">
        <property name="musicList">
            <list>
                <ref bean="classicalMusicBean"/>
                <ref bean="popMusicBean"/>
                <ref bean="rockMusicBean"/>
            </list>
        </property>
    </bean>
</beans>